@import "../../App/variables.scss";

.contacts {
  button {
    color: #ffffff;
    font-size: $descr-font-size;
    line-height: $line-height-mid;
    background: $text-color;
    border-radius: 20px;
    width: 180.5px;
    height: 42px;
    padding-top: 9px;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .contacts_descr,
  .contacts_btn {
    margin-top: 20px;
  }

  .contacts_descr,
  .socialnet_descr {
    margin-left: 9px;
    color: #828282;
    font-size: 14px;
    line-height: $line-height-lil;
    text-align: center;
  }

  .socialnet_icons {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    width: 360px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}
