@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

p {
  margin: 0;
}

.header {
  // background-color: $background-color;
}

.container {
  width: 965px;

  margin: 0 auto;
}

nav {
  height: 88px;
}

.subheader {
  margin-top: 40px;
}

.subheader .target_info {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin-top: 56px;
  margin-left: 18px;
}

.subheader .target_name {
  color: #070707;
  text-align: left;
  font-size: 47.3392px;
  line-height: 60px;
}

.subheader .lang_box {
  position: relative;
}

.subheader .target_photo {
  display: block;
  width: 943px;
  height: 387px;

  margin-top: 30px;
  margin-bottom: 104px;
  background-image: url("../media/targetPhoto.png");
}

@media (max-width: 991px) {
  .container {
    width: auto;
    margin: 0 auto;
  }
  .my_portfolio .portfolio_image img {
    width: 100%;
  }

  .my_portfolio {
    background-color: #f6f6f6;
    min-height: 100%;
  }
  .subheader .target_photo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 700px;
  }
}

@media (max-width: 767px) {
  .my_skills .skill_card:nth-child(n + 2) {
    padding-top: 60px;
  }
  .my_skills .skill_card:last-child {
    padding-bottom: 60px;
  }
  .subheader .target_photo {
    margin-bottom: 0px;
  }
  .subheader .target_info {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  nav,
  .subheader .form_toggle {
    display: none;
  }
  .subheader .target_photo {
    background-image: url("../media/mTargetPhoto.png");
    background-size: contain;
    background-position: center;
  }

  .subheader .target_name {
    margin-top: 27px;
  }

  // .menu_btn {
  //   position: absolute;
  //   top: 67px;
  //   right: 30px;
  //   display: block;
  // }
  // .menu_btn button {
  //   border: none;
  // }
}

@media (max-width: 380px) {
  // .menu_btn {
  //   top: 30px;
  //   right: 10px;
  // }

  .contacts button {
    font-size: 16px;
    width: 80.5px;
  }
}
