* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

p {
  margin: 0;
}

.header {
  background-color: #ffffff;
}

.container {
  width: 965px;

  margin: 0 auto;
}

.subheader {
  margin-top: 40px;
}

.subheader .target_info {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin-top: 56px;
  margin-left: 18px;
}

.subheader .target_name {
  color: #070707;
  text-align: left;
  font-size: 47.3392px;
  line-height: 60px;
}

.subheader .lang_box {
  position: relative;
}

.subheader .lang_switch {
  position: absolute;
  color: #828282;
  width: 60px;
  transform: rotate(-90deg);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  right: -15px;
  bottom: 44px;
}

.subheader .target_photo {
  display: block;
  width: 943px;
  height: 387px;

  margin-top: 30px;
  margin-bottom: 104px;
  background-image: url("../media/targetPhoto.png");
}

.about_me {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 506px;
}
.about_me .aboutme_header {
  margin-top: 120px;
}

.about_me .aboutme_header,
.my_portfolio .portfolio_header,
.contacts .contacts_header {
  text-align: center;
  color: #070707;
  font-size: 34px;
  line-height: 43px;
}

.about_me .aboutme_descr,
.contacts .contacts_descr {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.about_me p {
  margin-top: 18px;
  margin-bottom: 46px;
}

.rating-mini {
  margin-top: 39px;
  display: inline-block;
  font-size: 0;
}
.rating-mini span {
  padding: 4px;
  font-size: 30px;
  line-height: 1;
  color: #e5e5e5;
}
.rating-mini > span:before {
  content: "★";
}
.rating-mini > span.active {
  color: #070707;
}

.my_portfolio {
  background-color: #f6f6f6;
  min-height: 2253px;
}

.my_portfolio .porfolio_card {
  padding-bottom: 55px;
}
.my_portfolio .portfolio_header {
  margin-top: 110px;
}

.my_portfolio .portfolio_image {
  margin-top: 40px;
  margin-left: 5px;
}
.my_portfolio .portfolio_image_gap {
  margin-top: 40px;
  margin-left: 0;
}

.my_portfolio .portfolio_link {
  margin-top: 47px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.my_portfolio .portfolio_link a {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 10px;
}

.contacts button {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background: #070707;
  border-radius: 20px;
  width: 180.5px;
  height: 42px;
  padding-top: 9px;
}

.contacts .row {
  display: flex;
  justify-content: center;
}

.contacts .contacts_header {
  margin-top: 113px;
}

.contacts .contacts_descr {
  margin-top: 20px;
  margin-left: 9px;
}

.contacts .contacts_btn {
  margin-top: 27px;
  margin-left: 5px;
  text-align: center;
}

.contacts a {
  text-decoration: none;
  cursor: pointer;
}

.contacts .socialnet_icons {
  margin-top: 87px;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.contacts .socialnet_descr {
  margin-top: 45px;
  margin-left: 7px;
  color: #828282;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.form_toggle input[type="radio"] {
  display: none;
}

.form_toggle {
  display: flex;
  flex-direction: row;
}

.form_toggle label {
  display: flex;
  flex-direction: row;

  font-size: 15px;
  cursor: pointer;
}

.form_toggle label:after {
  content: "|";
  padding: 0 5px 0 5px;
}

.form_toggle label:nth-of-type(2):after {
  content: "";
}

.form_toggle input[type="radio"]:checked + .langs {
  font-weight: bold;
  content: attr(data-eng);
}

.form_toggle input[type="radio"]:checked + .menu_link:before {
  content: attr(data-en);
}

.modal {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
  max-width: 685px;
  margin: 30px auto;
}

.modal__content {
  margin-top: 150px;
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #f6f6f6;
  border: 1px solid black;
  min-height: 437px;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 32px;
  font-size: 63px;
  color: #000;
  font-weight: 200;
  border: none;
  cursor: pointer;
}

/* Задаем ширину и внешний верхний отступ для полей */
.modal__input {
  width: 258px;
  margin-top: 25px;
  padding-left: 9px;
}

/* Устанавливаем ширину поля относительно родительского
блока и фиксированную высоту */
.modal__input input {
  margin-top: 6px;
  width: 258px;
  height: 35.6px;
}

/* Задаем цвет и размер шрифта для заголовков полей */
.modal__input label {
  color: #070707;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.modal button {
  margin-top: 36px;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background: #070707;
  border-radius: 20px;
  width: 130px;
  height: 42px;
  padding-top: 9px;
  margin-left: 10px;
}

.modal_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_menu__dialog {
  position: fixed;
  right: 5px;
}

.modal_menu__content {
  position: relative;
  width: 375px;
  padding-top: 32px;
  padding-left: 25px;
  background-color: #f6f6f6;
  border: 1px solid black;
  min-height: 812px;
  overflow-y: auto;
}

.modal_menu__close {
  color: #828282;
  position: absolute;
  top: 46px;
  right: 27px;
  font-size: 43px;

  font-weight: 600;
  border: none;
  cursor: pointer;
}

.modal_menu__input {
  color: #828282;
  width: 258px;
  margin-top: 15px;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 34px;
  line-height: 77px;
}

.modal_menu__input a {
  text-decoration: none;
  color: #828282;
}

.modal_menu .lang_switch {
  color: #828282;
  width: 60px;
  transform: rotate(90deg);
  font-size: 54px;
  line-height: 43px;
  text-transform: uppercase;
  margin: 125px 0 0 270px;
}

.modal_menu .lang_switch label {
  font-size: 34px;
  line-height: 43px;
}

.show {
  display: block;
}
.hide {
  display: none;
}

@media (max-width: 991px) {
  .container {
    width: auto;
    margin: 0 auto;
  }
  .my_portfolio .portfolio_image img {
    width: 100%;
  }

  .my_portfolio {
    background-color: #f6f6f6;
    min-height: 100%;
  }
  .subheader .target_photo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 700px;
  }
}

@media (max-width: 767px) {
  .subheader .target_photo {
    margin-bottom: 0px;
  }
  .subheader .target_info {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  nav,
  .subheader .form_toggle {
    display: none;
  }
  .subheader .target_photo {
    background-image: url("../media/mTargetPhoto.png");
    background-size: contain;
    background-position: center;
  }

  .subheader .target_name {
    margin-top: 27px;
  }

  .modal__dialog {
    max-width: 70%;
    margin: 5px auto;
  }

  .modal__input,
  .modal__input input {
    width: 100%;
    height: 100%;
  }

  .modal__input label {
    font-size: 16px;
  }

  .modal button {
    font-size: 16px;
    width: 80px;
    border-radius: 30px;
  }

  .modal__close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
  }

  .menu_btn {
    position: absolute;
    top: 67px;
    right: 30px;
    display: block;
  }
  .menu_btn button {
    border: none;
  }
}

@media (max-width: 380px) {
  .menu_btn {
    top: 30px;
    right: 10px;
  }

  .contacts button {
    font-size: 16px;
    width: 80.5px;
  }

  .modal_menu__content {
    width: 300px;
    height: auto;
  }

  .modal_menu__input {
    width: 100%;
    font-size: 24px;
  }

  .modal_menu .lang_switch {
    margin: 0 0 0 200px;
  }
}

@media (max-width: 300px) {
  .modal_menu__content {
    width: 200px;
    height: auto;
  }

  .modal_menu .lang_switch {
    margin: 0 0 0 100px;
  }
}
