@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

p {
  margin: 0;
}

.header {
  background-color: $background-color;
}

.container {
  width: 965px;

  margin: 0 auto;
}

nav {
  height: 88px;
}

.subheader {
  margin-top: 40px;
}

.subheader .target_info {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin-top: 56px;
  margin-left: 18px;
}

.subheader .target_name {
  color: #070707;
  text-align: left;
  font-size: 47.3392px;
  line-height: 60px;
}

.subheader .lang_box {
  position: relative;
}

.subheader .target_photo {
  display: block;
  width: 943px;
  height: 387px;

  margin-top: 30px;
  margin-bottom: 104px;
  background-image: url("../media/targetPhoto.png");
}
