// Общие переменные
$main-color: black;
$background-color: #f6f6f6;

$text-color: #070707;
$header-font-size: 34px;
$descr-font-size: 18px;

$line-height-lil: 18px;
$line-height-mid: 23px;
$line-height-big: 43px;

$margin-top-header: 120px;
$margin-top-descr: 53px;
