.skills {
  .skills_cards {
    margin-top: 73px;
    display: flex;
    text-align: center;
  }

  .skills_icon {
    height: 115px;
  }

  .skills_card_descr a {
    color: black; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
  }
}

.skills .skills_icon {
  height: 115px;
  transition: transform 0.3s ease; /* Добавляем плавный переход для анимации */
}

.skills .skills_icon:hover {
  transform: scale(1.1); /* Увеличиваем размер иконки при наведении */
}

.skills .skills_icon:hover img {
  animation: pulse 1s infinite; /* Добавляем анимацию пульсации */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
