@import "../app/variables.scss";

// Общие переменные
$text-color: #070707;
$header-font-size: 34px;
$descr-font-size: 18px;

$line-height-lil: 18px;
$line-height-mid: 23px;
$line-height-big: 43px;

$margin-top-header: 120px;
$margin-top-descr: 53px;

// Общие стили
.highlight {
  background-color: $background-color;
}

.section {
  width: 100%;
  min-height: 506px; // Значение по умолчанию, измените при необходимости
}

.section_header,
.section_descr {
  color: $text-color;
  text-align: center;
}

.section_header {
  font-size: $header-font-size;
  line-height: $line-height-big;
}

.section_descr {
  font-size: $descr-font-size;
  line-height: $line-height-mid;
}

// Специфичные стили для секций
.aboutme,
.skills,
.portfolio,
.contacts {
  @extend .section;
}

.aboutme {
  .aboutme_header {
    margin-top: $margin-top-header;
  }

  p {
    margin: 18px 0 46px;
  }
}

.skills {
  min-height: 610px;

  .skills_header {
    margin-top: 89px;
  }

  .skills_descr,
  .skills_card_descr {
    color: #828282;
    font-size: 14px;
    line-height: $line-height-lil;
  }
}

.portfolio {
  background-color: $background-color;
  min-height: 2253px;

  .portfolio_header {
    margin-top: 110px;
  }

  .portfolio_image,
  .portfolio_image_gap {
    margin-top: 40px;
    margin-left: 5px;
  }

  .portfolio_image_gap {
    margin-left: 0;
  }

  .portfolio_link {
    margin-top: 47px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    a {
      color: $text-color;
      font-size: $descr-font-size;
      line-height: $line-height-mid;
      text-decoration-line: underline;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

.contacts {
  button {
    color: #ffffff;
    font-size: $descr-font-size;
    line-height: $line-height-mid;
    background: $text-color;
    border-radius: 20px;
    width: 180.5px;
    height: 42px;
    padding-top: 9px;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .contacts_header,
  .contacts_descr,
  .contacts_btn {
    margin-top: 20px;
  }

  .contacts_descr,
  .socialnet_descr {
    margin-left: 9px;
    color: #828282;
    font-size: 14px;
    line-height: $line-height-lil;
    text-align: center;
  }

  .socialnet_icons {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    width: 360px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}
