.aboutme .aboutme_header,
.skills .skills_header,
.portfolio .portfolio_header,
.contacts .contacts_header {
  text-align: center;
  color: #070707;
  font-size: 34px;
  line-height: 43px;
}

.aboutme .aboutme_descr,
.skills .skills_descr,
.contacts .contacts_descr {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.aboutme p {
  margin-top: 18px;
  margin-bottom: 46px;
}

.skills .skills_header {
  margin-top: 89px;
}

.skills .skills_descr {
  margin-top: 53px;
}

.skills {
  min-height: 610px;
}

.skills .skills_card_descr {
  color: #828282;
  font-size: 14px;
  line-height: 18px;
}

.skills .skills_cards {
  margin-top: 73px;
  display: flex;

  text-align: center;
}

.skills .skills_icon {
  height: 115px;
}

@media (max-width: 767px) {
  .skills .skills_card:nth-child(n + 2) {
    padding-top: 60px;
  }
  .skills .skills_card:last-child {
    padding-bottom: 60px;
  }
}
