@import "../App/variables.scss";

// Общие стили
.highlight {
  background-color: $background-color;
}

.section {
  width: 100%;
  min-height: 506px; // Значение по умолчанию, измените при необходимости
}

.section_header,
.section_descr {
  color: $text-color;
  text-align: center;
}

.section_header {
  font-size: $header-font-size;
  line-height: $line-height-big;
  margin-top: $margin-top-header;
}

.section_descr {
  font-size: $descr-font-size;
  line-height: $line-height-mid;
}

// Специфичные стили для секций
.aboutme,
.skills,
.portfolio,
.contacts {
  @extend .section;
}

.aboutme {
  .aboutme_header {
    margin-top: $margin-top-header;
  }

  p {
    margin: 18px 0 46px;
  }
}

// .portfolio {
//   // background-color: $background-color;
//   // min-height: 2253px;
// }
