@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

p {
  margin: 0;
}

.header {
  background-color: $background-color;
}

.container {
  width: 965px;

  margin: 0 auto;
}

.menu_link:before {
  content: attr(data-en);
}

nav {
  height: 88px;
}

.menu_btn {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;

  list-style-type: none;
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu .menu_link {
  color: #828282;
  font-size: 18px;
  line-height: 23px;

  text-decoration: none;
}

.menu .active {
  color: #070707;
}

.subheader {
  margin-top: 40px;
}

.subheader .target_info {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin-top: 56px;
  margin-left: 18px;
}

.subheader .target_name {
  color: #070707;
  text-align: left;
  font-size: 47.3392px;
  line-height: 60px;
}

.subheader .lang_box {
  position: relative;
}

.subheader .lang_switch {
  position: absolute;
  color: #828282;
  width: 60px;
  transform: rotate(-90deg);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  right: -15px;
  bottom: 44px;
}

.subheader .target_photo {
  display: block;
  width: 943px;
  height: 387px;

  margin-top: 30px;
  margin-bottom: 104px;
  background-image: url("../src/components/media/targetPhoto.png");
}

.form_toggle input[type="radio"] {
  display: none;
}

.form_toggle {
  display: flex;
  flex-direction: row;
}

.form_toggle label {
  display: flex;
  flex-direction: row;

  font-size: 15px;
  cursor: pointer;
}

.form_toggle label:after {
  content: "|";
  padding: 0 5px 0 5px;
}

.form_toggle label:nth-of-type(2):after {
  content: "";
}

.form_toggle input[type="radio"]:checked + .langs {
  font-weight: bold;
  content: attr(data-eng);
}

.form_toggle input[type="radio"]:checked + .menu_link:before {
  content: attr(data-en);
}

.highlight {
  background-color: $background-color;
}

.aboutme {
  // background-color: red;
  width: 100%;
  min-height: 506px;
}
.aboutme .aboutme_header {
  margin-top: 120px;
}

.aboutme .aboutme_header,
.skills .skills_header,
.portfolio .portfolio_header,
.contacts .contacts_header {
  text-align: center;
  color: #070707;
  font-size: 34px;
  line-height: 43px;
}

.aboutme .aboutme_descr,
.skills .skills_descr,
.contacts .contacts_descr {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.aboutme p {
  margin-top: 18px;
  margin-bottom: 46px;
}

.skills .skills_header {
  margin-top: 89px;
}

.skills .skills_descr {
  margin-top: 53px;
}

///////////////////////////////////////////////////////////////////

.skills {
  min-height: 610px;
}

.skills .skills_card_descr {
  color: #828282;
  font-size: 14px;
  line-height: 18px;
}

.skills .skills_cards {
  margin-top: 73px;
  display: flex;

  text-align: center;
}

.skills .skills_icon {
  height: 115px;
}

.portfolio {
  background-color: $background-color;
  min-height: 2253px;
}

.portfolio .porfolio_card {
  padding-bottom: 55px;
}
.portfolio .portfolio_header {
  margin-top: 110px;
}

.portfolio .portfolio_image {
  margin-top: 40px;
  margin-left: 5px;
}
.portfolio .portfolio_image_gap {
  margin-top: 40px;
  margin-left: 0;
}

.portfolio .portfolio_link {
  margin-top: 47px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.portfolio .portfolio_link a {
  color: #070707;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 10px;
}

.contacts button {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background: #070707;
  border-radius: 20px;
  width: 180.5px;
  height: 42px;
  padding-top: 9px;
}

.contacts .row {
  display: flex;
  justify-content: center;
}

.contacts .contacts_header {
  margin-top: 113px;
}

.contacts .contacts_descr {
  margin-top: 20px;
  margin-left: 9px;
}

.contacts .contacts_btn {
  margin-top: 27px;
  margin-left: 5px;
  text-align: center;
}

.contacts a {
  text-decoration: none;
  cursor: pointer;
}

.contacts .socialnet_icons {
  margin-top: 87px;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.contacts .socialnet_descr {
  margin-top: 45px;
  margin-left: 7px;
  color: #828282;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.rating-mini {
  margin-top: 39px;
  display: inline-block;
  font-size: 0;
}
.rating-mini span {
  padding: 4px;
  font-size: 30px;
  line-height: 1;
  color: #e5e5e5;
}
.rating-mini > span:before {
  content: "★";
}
.rating-mini > span.active {
  color: #070707;
}
