@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

p {
  margin: 0;
}

.header {
  background-color: $main-color;
}

.container {
  width: 965px;

  margin: 0 auto;
}
